<div class="container">
  <div class="img-container">
    <img class="login-page-img" src="https://res.cloudinary.com/praveenreddy173/image/upload/v1682668948/pexels-dom-j-45111_rjmijn.jpg"/>
  </div>
  <div class="form-container">
        <form>
          <label for="username" class="label-username">Username</label><br/>
          <input id="username" type="text" [(ngModel)]="username" class="input-field"/><br/>
          <label for="password" class="label-password">Password</label><br/>
          <input id="password" type="password" [(ngModel)]="password" class="input-field"/><br/>
          <div class="btn-primary-container">
            <button class="button-primary">Login</button>
            <a href="#" class="forget-password-link">Forgot Password?</a>
          </div>
          <p class="desc">If you don't have an account <a href="#" class="account-register-link">Register Here!</a></p>
        </form>
  </div>
</div>
