
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}
.login-page-img{
    width: 60vw;
    height: 80vh;

}
.form-container{
    padding-left: 30px;
}
.input-field{
    border: 1px solid #464646;
    padding: 4px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 14px;
}
.forget-password-link{
    padding-left: 10px;
}