.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-page-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    border: 1px solid red;
}

.left-side-container>input{
    margin-bottom: 20px;
    margin-top: 4px;
}
.right-side-container>input{
    margin-bottom: 20px;
    margin-top: 4px;
}

