<div class="container">
    <form class="login-page-form">
        
        <div class="left-side-container">
                <label for="firstname" class="labels">Firstname</label><br/>
                <input type="text" class="input-field" id="firstname" /><br/>
                <label for="lastname">Lastname</label><br/>
                <input type="text" class="input-field" id="lastname" /><br/>
                <label for="email">Email</label><br/>
                <input type="email" class="input-field" id="email" /><br/>
        </div>
        <div class="right-side-container">
            <label for="password">Password</label><br/>
            <input type="password" class="input-field" id="password" /><br/>
            <label for="repassword">Re-enter Password</label><br/>
            <input type="password" class="input-field" id="repassword" /><br/>
            <div class="sign-up-container">
                <button class="btn-primary">Sign Up</button>
            </div>
        </div>
       
    </form>
</div>